/* Global */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0.1em; /* reduce space below the heading */
}

p {
  margin-top: 0.1em;    /* reduce space above the paragraph */
  margin-bottom: 1em;   /* optional: space below paragraph */
}

:root { 
  --color-departures: steelblue;
  --color-arrivals: darkorange;
}

/* Header */

header {
    display: flex;
    flex-wrap: nowrap; /* prevent wrapping */
    align-items: center; /* align vertically */
    gap: 0.5em;
    padding: 0.5em;
    width: 75 vw;
    max-width: 1200px;
}

header h1 { 
  font-size: clamp(1rem, 2vw, 1rem);
  margin: 0;
  min-width: 100px;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex: 1 1 auto;    /* can grow but not shrink below min-width */
    min-width: 100px;  /* prevents slider from collapsing */
}

#time-slider { 
    width: 200px;      /* fixed width for slider */
    max-width: 100%;   /* never overflow label */
}

#selected-time { 
    margin-left: 0.5em;
    margin-top: 0.25em;
}

#any-time { 
  font-size: clamp(0.8rem, 1.5vw, 0.5em);
  color: #777;
  font-style: italic;
  margin-left: auto;
}

#any-time { 
    color: #777;
    font-style: italic;
}

/* Map */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem; /* smaller font on small screens */
  }

  #map { 
    width: 95%;
    height: 60vh;
  }
}

#map {
  width: 90%;
  height: 75vh;
  max-height: 1000px;
  min-height: 400px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
}

#map svg circle {
  --departure-ratio: 0;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
  stroke: white;
  stroke-width: 1;
  pointer-events: auto; /* important for hover */
}

/* Reset Button */

#reset-circles {
  position: absolute; /* relative to #map container */
  bottom: 5px;
  left: 10px;
  z-index: 1000;
  padding: 4px 10px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

#reset-circles:hover {
  background-color: #f0f0f0;
}

/* Legend */
.legend { 
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
  width: 90%;
  max-width: 1200px
}

.legend div { 
  flex: 1;
  text-align: center;
  padding: 0.5em 0;
  margin: 0 1px;
  border-radius: 4px;
  color: white;
  font-size: clamp(0.7rem, 1.5vw, 1rem);
}
