html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0.1em; /* reduce space below the heading */
}

p {
  margin-top: 0.1em;    /* reduce space above the paragraph */
  margin-bottom: 1em;   /* optional: space below paragraph */
}

header {
  margin-top: 0;      /* Remove any top margin of header */
  padding-top: 0;     /* Optional: remove top padding if any */
}

header h1 {
  margin-top: 0;      /* Remove default top margin of h1 */
  margin-bottom: 0.5em; /* Adjust spacing below h1 as needed */
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.5rem; /* smaller font on small screens */
  }
}

#map {
  width: 90%;
  height: 600px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

#map svg circle {
  fill: rgb(47, 143, 170);
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1;
  pointer-events: auto; /* important for hover */
}

#reset-circles {
  position: absolute; /* relative to #map container */
  bottom: 5px;
  left: 10px;
  z-index: 1000;
  padding: 4px 10px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

#reset-circles:hover {
  background-color: #f0f0f0;
}


header { 
    display: flex;
    gap: 1em;
    align-items: baseline;
    padding: 0.5em 0.5em;
}

label { 
    margin-left: auto;
}

#time-slider { 
    width: 200px;
    vertical-align: middle;
}

#selected-time, #any-time { 
    display: block;
    margin-top: 0.25;
}

#any-time { 
    color: #777;
    font-style: italic;
}